body{
    margin: 0px;
}

/* navbar */
.main_bar {
    background-color: rgb(217,231,251);
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.manager_form i {
    color: gray;
    font-size: x-large;
    opacity: 0.5;
}

.watchlist {}
.title_box{
    background-color: white;
    padding-top: 50px;
    height: 90px;
}
.title {
    /* margin-top: 50px; */
    border-style: solid none;
    border-width: 5px;
    border-color: rgb(217, 231, 251);
    display: flex;
    height: 55px;
    justify-content: space-around;
    /* margin-bottom: 20px; */
    background-color: white;
}

.title_str {
    font-size: 30px;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 150px;
    color: gray;
}

.a {
    width: 300px;
}

.home {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    text-decoration-line: none;
    text-decoration-color: black;
    text-decoration: none dotted 5px;
}
.main_bar img{
    margin-right: 5px;
    width: 45px;
    height: 40px;
}
.home_str{
    margin-top: 7px;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.main_bar button {
    margin-top: 15px;
    margin-right: 10px;
    height: 30px;
    width: 100px;
    border-radius: 40px;
    background-color: white;
    font-weight: bold;
}

.hospital_name_input {
    border: none;
    font-size: 30px;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 150px;
    outline: none;
}

.hospital_title_name_box {
    border-style: solid none;
    border-width: 5px;
    border-color: rgb(217, 231, 251);
    background-color: white;
    margin-top: 30px;
    width: 955px;
    display: flex;
    justify-content: center;
}

.all {
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
}

.hospital_img_box {
    /*background-color: pink;*/
    display: flex;
    justify-content: center;
}

.hospital_img_container {
    background-color: rgb(230,230,230);
    padding: 180px;
    margin-top: 25px;
    width: 600px;

}

.hospital_img_container i {
    font-size: xxx-large;
    position: relative;
    left: 700px;
    top: 155px;
}

.hospital_address {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /*background-color: red;*/
}

.address_inputBox {
    width: 50%;
    border: none;
    /*background-color: blueviolet;*/
    position: relative;
    margin-left: 30px;
}

.address_icon {
    position: relative;
    right: 35px;
}

.Address_Box {
    /*background-color: bisque;*/
}


.hospital_phoneNumber {
    display: flex;
    justify-content: center;
}

.hospital_link {
    display: flex;
    justify-content: center;
}

.phoneNumberBox {
    width: 50%;
    position: relative;
}

.link_urlBox {
    width: 50%;
}

.phoneNumber_icon {
    /*background-color: aquamarine;*/
    position: relative;
    right: 55px;
}

.phoneNumberBox {
    /*background-color: #c8e5ff;*/
    display: flex;
}

.link_Box {
    /*background-color: coral;*/
}


.test {
    display: flex;
    justify-content: center;
    /*background-color: pink;*/
}

.time_container li {
    list-style: none;
    display: flex;
}

.time_icon {
    /*margin-right: 700px;*/
    /*background-color: yellow;*/
    padding-right: 25px;
    margin-top: 3px;
}

.monday_box {
    display: flex;
    /*background-color: blue;*/
    width: 55%;
}

.Monday_title {
    width: 750px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.week_box {
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
}

.week_container {
    /*background-color: aquamarine;*/
    width: 55%;
    margin-left: 40px;
    margin-bottom: 10px;
}

.week_title {
    width: 90%;
    margin-left: 20px;
}
