body{
    margin: 0px;
}

.allPage_bar {
    background-color: rgb(217,231,251);
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.home {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    text-decoration-line: none;
    text-decoration-color: black;
    text-decoration: none dotted 5px;
}

.allPage_bar img{
    margin-right: 5px;
    width: 45px;
    height: 40px;
}

.home_str{
    margin-top: 7px;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.allPage_bar button {
    margin-top: 15px;
    margin-right: 10px;
    height: 30px;
    width: 100px;
    border-radius: 40px;
    background-color: white;
    font-weight: bold;
}

.Search{
    display: flex;
    margin: 20px 0px 30px 0px;
    justify-content: center;
}

.Search_text{
    width: 500px;
    height: 35px;
    border: 3.5px solid #d9d9d9;
    border-radius: 40px;
    color: #183052;
}

.Search_text form{
    display: flex;
}

.Search_text input{
    width: 430px;
    height: 20px;
    border: none;
    margin-top: 6px;
    margin-left: 30px;
}

.search_Btn{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: none;
    background-color: white;
}

.Search_text i{
    font-size: 20px;
}

.Search_text input:focus{
    outline:none;
}

.filter{
    background-color: rgb(217,231,251);
    height: 60px;
    margin-bottom: 30px;
}

.filter_list{
    display: flex;
    justify-content: center;
}

.filter_box{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.filter_box div{
    font-size: 20px;
    font-weight: bolder;
}

.filter_box select {
    margin-left: 10px;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

.Area_list {
    margin-right: 50px;
    text-align: center;
}

.District_list {
    margin-right: 40px;
    text-align: center;
}

.Options_list {
    text-align: center;
}

.allList {
    border-top: 5px solid #d9e7fb;
    border-bottom: 5px solid #d9e7fb;
    padding-left: 300px;
    padding-bottom: 13px;
    padding-top: 13px;
    font-size: 25px;
    font-weight: 700;
    color: #313131;
}





/*table 크기*/
.tableA{
    display: flex;
    margin-bottom: 100px;
}

.hospital_Left {
    display: block;
}

.container_Left{
    display: flex;
    margin-top: 50px;
    margin-left: 300px;
    width: 450px;
    height: 155px;
    background-color: white;
    border: none;
}

.listBox_img_Left {
/*    width: 200px;
    height: 150px;*/
    position: relative;
}

/*이미지 조절*/
.imgSize_Left {
    width: 200px;
    height: 150px;
    /*position: relative;*/
}
.imgSize_Left img{
    width: 200px;
    height: 150px;
    /*position: relative;*/
}

/*찜 하트 아이콘 조절*/
.iconSize_Left {
    position: absolute;
    color: #777777;
    font-size: 25px;
    /*margin-left: 165px;*/
    top: 105px; left: 160px;
/*    margin-top: 15px;*/
}

.iconSize_Left:hover {
    color: red;
}

/*병원이름*/
.table_information_Left {
    padding-bottom: 70px;
}

.hospitalName_Left {
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 1px;
}




.hospital_Right {
    display: block;
}

.container_Right{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    width: 450px;
    height: 155px;
    background-color: white;
    border: none;
}

.listBox_img_Right {
    /*    width: 200px;
        height: 150px;*/
    position: relative;
}

/*이미지 조절*/
.imgSize_Right {
    width: 200px;
    height: 150px;
    /*position: relative;*/
}
.imgSize_Right img{
    width: 200px;
    height: 150px;
    /*position: relative;*/
}

/*찜 하트 아이콘 조절*/
.iconSize_Right {
    position: absolute;
    color: #777777;
    font-size: 25px;
    /*margin-left: 165px;*/
    top: 105px; left: 160px;
    /*    margin-top: 15px;*/
}

.iconSize_Right:hover {
    color: red;
}

/*병원이름*/
.table_information_Right {
    padding-bottom: 70px;
}

.hospitalName_Right {
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 1px;
}
