body {
    margin: 0%;
}

.join_navbar {
    background-color: rgb(217,231,251);
    height: 55px;
    display: flex;
    justify-content: center;
}

.join_navbar_icon {
    width: 20px;
    display: flex;
    padding-left: 25px;
    align-items: center;
}

.join_navbar_title {
    padding-right: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}


.join_navbar_container {
    width: 100%;
    display: flex;
}

h3 {
    padding-bottom: 30px;
    text-align: center;
}

.mainBox {
    margin: auto;
    width: 500px;
    height: 600px;
    padding-top: 20px;
    border-radius: 100px;
    border: 5px solid #c8e5ff;
    margin-top: 30px;
}

.inputSize {
    width: 330px;
    height: 25px;
    font-size: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #2e88ff;
    padding: 20px;
    /*margin-bottom: 33px;*/
    /*margin-bottom: 20px;*/
    margin-left: 50px;
}

.inputSize_1 {
    width: 360px;
    height: 25px;
    font-size: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #2e88ff;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    /*background-color: pink;*/
}

.animal_check {
    padding-left: 55px;
    display: flex;
    font-size: 15px;
    margin-top: 30px;
}

.list_box {
    text-align: center;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: -8px;
    margin-left: 37px;
}

.labelText {
    font-weight: 550;
    padding-right: 8px;
    padding-left: 15px;
}

hr {
    width: 400px;
    height: 1px;
    background-color: #2e88ff;
    margin-bottom: 25px;
}

.finishBtn {
    margin-top: 10px;
    width: 170px;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    border: 3px solid #c8e5ff;
    border-radius: 10px;
    background-color: white;
}

.listBox_All {
    text-align: center;
}

.finishBtn_Box {
    text-align: center;
}

.idCheckBtn {
    /*border: none;*/
    border: 2px solid #77adff;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 7px;
    margin-left: 15px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 8px;
}

.idCheckBtn_container {
    margin-top: 25px;
    margin-right: 10px;
}

.idBox {
    display: flex;
}