<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <script src="https://kit.fontawesome.com/16dd1d1568.js" crossorigin="anonymous"></script>
    <link href="../css/allPage_css.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
<div class="allPage_bar">
    <a href="" class="home">
        <img src="/img/융프로고.png" alt="Z&V 로고">
        <div class="home_str">Z&V</div>
    </a>
    <form action="" method="post">
        <button class="navyBtn" onClick="location.href=''" type="submit">로그아웃</button>
    </form>
</div>
<div class="allPage_contents">
    <div class="Search">
        <div class="Search_text">
            <form action="" method="post">
                <input name="search" value="" type="submit">
                <button type="button" class="search_Btn" onClick="location.href=''">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>


    <div class="filter">
        <form method="post" class="filter_list">
            <div class="filter_box">
                <div>지역</div>
                <select class="Area_list" name="area">
                    <option value="">서울</option>
                    <option value="">인천</option>
                    <option value="">대전</option>
                    <option value="">부산</option>
                </select>
            </div>
            <div class="filter_box">
                <div>구</div>
                <select class="District_list" name="area">
                    <option value="">강남구</option>
                    <option value="">구</option>
                    <option value="">구</option>
                    <option value="">구</option>
                </select>
            </div>
            <div class="filter_box">
                <div>옵션</div>
                <select class="Options_list" name="area">
                    <option value="">shop</option>
                    <option value="">24시</option>
                    <option value="">추천순</option>
                    <option value="">리뷰순</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="allList">
    <a>전체 목록</a>
</div>

<div class="container">

    <onclke>
    <table class="hospital_Left" th:href="@{/templates/hospital_information}" > <!--=> th:href="@{/templates/hospital_information}"버튼을 누르면 저기로 이동-->
        <!--onclke 을 사용해서 하면 됨-->
        <tbody th:each="hoOdd, stat : ${hospitial}">
            <tr>
                <td rowspan='3' class="img">
                    <div class="listBox_img">
                        <div class="imgSize">
                            <img th:src="${hoOdd.image_information}" alt="Z&V 로고">
                        </div>
                        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
                    </div>
                </td>
                <td class="table_information">
                    <div class="hospitalName" th:text="${hoOdd.hospital}"></div>
                    <div th:text="${hoOdd.grade}">
                        <span class="star">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </span>
                    </div>
                    <div th:text="${hoOdd.reviewCount}"></div>
                    <!--<td ><img class ="tes" th:src="${ho.image_information}"/></td>-->
                </td>
            </tr>
            <!--<tr>&lt;!&ndash; => th:each="Hospital : ${Hospitals}" 리스트 불러오기&ndash;&gt;
                &lt;!&ndash;            <td th:text="${ho.hospital}"></td>
                            <td th:text="${ho.grade}"></td>
                            <td th:text="${ho.reviewCount}"></td>&ndash;&gt;
                <td th:text="${hoOdd.grade}">
                    <span class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td th:text="${hoOdd.reviewCount}"></td>
                &lt;!&ndash;<td ><img class ="tes" th:src="${ho.image_information}"/></td>&ndash;&gt;
            </tr>-->
        </tbody>
    </table>
    </onclke>
<!--
    <onclke>
        <table border="1px" class="hospital_Right" th:href="@{/templates/hospital_information}"> &lt;!&ndash;=> th:href="@{/templates/hospital_information}"버튼을 누르면 저기로 이동&ndash;&gt;
            &lt;!&ndash;onclke 을 사용해서 하면 됨&ndash;&gt;

            <tbody  th:each="hoOdd, stat : ${hospitial}">
            <tr class="img">
                <td rowspan='3'>
                    <div class="listBox_img">
                        <div class="imgSize">
                            <img th:src="${hoOdd.image_information}" alt="Z&V 로고" style="width:200px; height: 150px">
                        </div>
                        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
                    </div>
                </td>
                <td class="hospitalName" th:text="${hoOdd.hospital}"> 24시 유앤미 동물병원</td>
            </tr>
            <tr>&lt;!&ndash; => th:each="Hospital : ${Hospitals}" 리스트 불러오기&ndash;&gt;
                &lt;!&ndash;            <td th:text="${ho.hospital}"></td>
                            <td th:text="${ho.grade}"></td>
                            <td th:text="${ho.reviewCount}"></td>&ndash;&gt;
                <td th:text="${hoOdd.grade}">
                    <span class="star">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td th:text="${hoOdd.reviewCount}"></td>
                &lt;!&ndash;<td ><img class ="tes" th:src="${ho.image_information}"/></td>&ndash;&gt;
            </tr>

            </tbody>
        </table>
    </onclke>-->

</div>
<!--<div class="list_img">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_1">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_2">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_3">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_4">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_5">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_6">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_7">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_8">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>
<div class="list_img_9">
    <div class="listBox_img">
        <div class="imgSize">
            <img src="resources/img/동물병원.png" alt="Z&V 로고" style="width:200px; height: 150px">
        </div>
        <div class="iconSize"><i class="fa-solid fa-heart"></i></div>
    </div>
    <div class="name_box">
        <p class="hospitalName">24시 유앤미 동물병원</p>
        <span class="star">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </span>
        <p class="starText">(4.5)</p>
    </div>
</div>-->
</body>
</html>
