<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://kit.fontawesome.com/5ef77fbbed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/hospital_information.css">
    <title>병원 정보 페이지</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>
<body>
<div class="main_bar_container">
    <div class="main_bar">
        <a th:href="@{/main}" class="home">
            <img src="/img/융프로고.png" alt="Z&V 로고">
            <div class="home_str">Z&V</div>
        </a>
        <div class="logout_delete_or_update_container">
            <div class="logout_container">
                <form action="" method="post" class="manager_form">
<!--                    <i class="fa-solid fa-heart"></i>-->
                    <button class="navyBtn" th:if="${session.user != null}" onClick="location.href=''" type="submit">logout</button>
                    <button class="navyBtn" th:if="${session.user == null}" onClick="location.href=''" type="submit">login</button>
                </form>
            </div>
            <div class="delete_container" th:if="${isAdmin == true}">

                <form th:action="@{'/hospital/delete/' + ${manager.hospital_number}}" method="post" class="manager_form">
                
                    <button class="navyBtn" type="submit">삭제</button>
                </form>
            </div>
            <div class="update_container" th:if="${isAdmin == true}">
                <form th:action="@{'/hospital/' + ${manager.hospital_number}}" method="get" class="manager_form">
                    <button class="navyBtn" onClick="location.href=''" type="submit">수정</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="hospital_title">
    <form class="hospital_form_container" method="post" name="manager">
        <div class="hospital_title_name_box">
            <!--            <input type="text" class="hospital_name_input" th:text="${manager.Hosptial_name}" disabled/>-->
            <p class="hospital_name_input" th:text="${manager.Hosptial_name}"></p>
        </div>


        <div class="hospital_img_box">
            <div class="hospital_img_container">
                <img th:src="${manager.image_information}"/>
            </div>
        </div>


        <div class="hospital_information">
            <div class="Address_Box">
                <div class="hospital_address">
                    <div class="address_icon"><i class="fa-solid fa-location-dot"></i></div>
                    <!--                    <input class="address_inputBox" type="text" value="인천광역시 남동구 소래역남로16번길 75(논현동) 더타워상가 C동 1층 24시 소래동물병원" disabled/>-->
                    <p class="address_inputBox" id="addressDB" th:text="${manager.hospital_address}"></p>
                </div>
            </div>

            <div class="time_container">
                <div class="test">
                    <div class="time_icon"><i class="fa-regular fa-clock"></i></div>
                    <div class="monday_box">
                        <li class="monday_container">
                            <div class="monday"><strong>월</strong></div>
                            <p class="week_title" th:text="${manager.TimeMon}"></p></li>
                    </div>

                </div>
                <div class="week_box">
                    <li class="week_container"><strong>화</strong>
                        <p class="week_title" th:text="${manager.TimeTues}"></p></li>
                </div>
                <div class="week_box">
                    <li class="week_container"><strong>수</strong>
                        <p class="week_title" th:text="${manager.TimeWednes}"></p></li>
                </div>
                <div class="week_box">
                    <li class="week_container"><strong>목</strong>
                        <p class="week_title" th:text="${manager.TimeThurs}"></p></li>
                </div>
                <div class="week_box">
                    <li class="week_container"><strong>금</strong>
                        <p class="week_title" th:text="${manager.TimeFri}"></p></li>
                </div>
                <div class="week_box">
                    <li class="week_container"><strong>토</strong>
                        <p class="week_title" th:text="${manager.TimeSatur}"></p></li>
                </div>
                <div class="week_box">
                    <li class="week_container"><strong>일</strong>
                        <p class="week_title" th:text="${manager.TimeSun}"></p></li>
                </div>

            </div>
            <div class="phoneNumber_container">
                <div class="hospital_phoneNumber">
                    <div class="phoneNumberBox">
                        <div class="phoneNumber_icon"><i class="fa-solid fa-phone"></i></div>
                        <!--                        <input class="phoneNumberBox" type="tel" value="032-438-3227" disabled/>-->
                        <!--                        <p class="phoneNumberBox">010-8322-7256</p>-->
                        <a class="phoneNumberBox" th:text="${manager.tell}"></a>
                    </div>
                </div>
            </div>

            <div class="hospital_link">
                <div class="link_Box">
                    <div class="link_icon"><i class="fa-solid fa-house"></i></div>
                    <!--                    <input class="link_urlBox" type="url" value="http://soraeah.co.kr/index.php" disabled/>-->
                    <a class="link_urlBox" th:href="${manager.site}">
                        <div th:text="${manager.site}" class="siteTextStyle"></div>
                    </a>
                </div>
            </div>
        </div>

        <div id="map" style="width:60%;height:400px; margin-left:310px"></div>
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=82ae9863074c3e5fe237c9bb8fdcd654"></script>
        <script th:inline="javascript">
            let lateX = [[${manager.locationLatitude}]]
            let lateY = [[${manager.locationlongitude}]]

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(lateX, lateY), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 마커가 표시될 위치입니다
            var markerPosition = new kakao.maps.LatLng(lateX, lateY);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
            // marker.setMap(null);
        </script>

        <br>

        <div class="review_container">
            <div class="visitor_review">
                <h3 class="review_title">방문자 리뷰</h3>
            </div>


        </div>
    </form>

    <form class="review_star_container" method="post" th:action="'/'+${manager.hospital_number}">
        <div class="review_comment">
            <div class="review_comment_Box">
                <div th:if="${session.user != null}" th:text="${session.user.user_name}" class="review_name"></div>
                <input th:if="${message == null}" type="text" class="comment" name="reviewContent"
                       placeholder="리뷰를 작성해주세요.">
                <div th:if="${message != null}" th:text="${message}"></div>
            </div>

            <div class="user_review_Box">

                <div class="review_comment_container">
                    <input th:if="${message == null}"type="submit" class="review_comment_btn" value="등록하기">
                </div>
                </div>
            </div>
            <div class="reviews" th:each="review : ${reviewList}">
                <div class="review_user_name" th:text="${review.user.user_name}"></div>
                <div class="review_comments">
                    <div class="review_content" th:text="${review.reviewContent}"></div>
                    <div class="review_CreateAt" th:text="${review.reviewCreateAt}"></div>
                </div>
            </div>
    </form>

    <footer>
        <section id="contact" class="section">
            <div class="contact__rights">
                <div>개인정보처리방침 | 침해행위금지 | 개인정보공시</div>
                <br>
                <div>페이지 제작 : 누구보다 빛나조</div>
            </div>
        </section>
    </footer>
</div>


</body>
</html>